.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.flex {
  height: 397px;
}

.text {
  font-size: var(--mantine-font-size-xl);
  font-weight: 600;
  margin-top: var(--mantine-spacing-md);
  text-align: center;
}

.desktopImage {
  max-width: 310px;
  width: calc(100% - 20px);
}

.control {
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
  color: var(--mantine-color-white);
  line-height: var(--mantine-line-height-xs);

  background-color: var(--mantine-color-purple-5);
  border-radius: var(--mantine-radius-md);
  border: none;

  &:hover {
    background-color: var(--mantine-color-purple-4);
    color: var(--mantine-color-white);
  }

  &:active {
    background-color: var(--mantine-color-purple-6);
  }
}
