.wrapper {
  width: 284px;
}

.wrapperNumber {
  max-width: 137px;
}

.input {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  line-height: var(--mantine-line-height-xs);
  height: 42px;
  padding-top: 0;
  padding-bottom: 0;

  &:active {
    border-color: var(--mantine-color-purple-5);
  }

  &:focus-within {
    border-color: var(--mantine-color-purple-5);
  }
}

.label {
  font-size: var(--mantine-font-size-md);
  font-weight: 700;
  line-height: var(--mantine-line-height-xs);
  margin-bottom: var(--mantine-spacing-xs);
}

.pill {
  font-size: var(--mantine-font-size-sm);
  background-color: var(--mantine-color-white);
  padding: 0;

  button {
    display: none;
  }
}

.option {
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  line-height: var(--mantine-line-height-xs);
  border-radius: var(--mantine-radius-md);
  height: 36px;

  &:hover {
    background-color: var(--mantine-color-purple-5);
    color: var(--mantine-color-white);
  }
}

.pillList {
  flex-wrap: nowrap;
}

.control {
  border: none;
  color: var(--mantine-color-grey-5);

  &:hover {
    background: transparent;
    color: var(--mantine-color-purple-4);
  }

  &:active {
    color: var(--mantine-color-purple-5);
  }
}

.controls {
  margin-right: var(--mantine-spacing-xs);
  height: 26px;
}

.labelButton {
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-xs);
  font-weight: 500;
  color: var(--mantine-color-grey-6);
}

.btn {
  width: 81px;
  padding: 0;
  margin: 0;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  color: var(--mantine-color-purple-5);
  line-height: var(--mantine-line-height-xs);
  letter-spacing: 0.32px;
  background-color: transparent;
  border: none;

  &:hover {
    color: var(--mantine-color-purple-4);
  }

  &:active {
    color: var(--mantine-color-purple-6);
  }

  &:disabled {
    color: var(--mantine-color-grey-6);
  }
}

@media (max-width: 390px) {
  .wrapper {
    width: 100%;
  }

  .input {
    height: auto;
  }

  .pillList {
    flex-wrap: wrap;
  }
}
