.container {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}

.title {
  font-size: calc(var(--mantine-font-size-md) * 2);
  font-weight: 700;
  line-height: var(--mantine-line-height-xs);
  letter-spacing: 0.32px;
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.25);
}

.pagination {
  display: flex;
  justify-content: end;
}
