.wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--mantine-spacing-sm);

  &:last-child {
    margin-bottom: 0;
  }
}

.group {
  max-width: 140px;
  width: 100%;
}

@media (max-width: 430px) {
  .group {
    max-width: 100px;
  }
}
