.card {
  background-color: var(--mantine-color-body);
  width: calc(100% - 10px);
  margin-top: calc(var(--mantine-spacing-md) * 1.25);
  margin-bottom: calc(var(--mantine-spacing-xl) * 3);
}

.title {
  margin-bottom: var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-xl);
  font-weight: 900;
  line-height: 1;
}

.text {
  font-size: var(--mantine-font-size-md);
  font-weight: 400;
  line-height: var(--mantine-line-height-xs);
}

.divider {
  margin-top: calc(var(--mantine-spacing-md) * 1.25);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.25);
}

.listItem {
  font-size: var(--mantine-font-size-md);
  font-weight: 700;
  line-height: var(--mantine-line-height-xs);
  margin-bottom: var(--mantine-spacing-sm);

  &:last-child {
    margin-bottom: 0;
  }
}

.iconWrapper {
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
}

.icon {
  object-fit: contain;
}

@media (max-width: 430px) {
  .text,
  .listItem {
    font-size: var(--mantine-font-size-sm);
  }
}
