.card {
  position: relative;
  background-color: var(--mantine-color-body);
  width: calc(100% - 10px);
  margin-top: calc(var(--mantine-spacing-md) * 1.25);
  padding: var(--mantine-spacing-lg);
}

.groupWrapper {
  gap: var(--mantine-spacing-xl);
  flex-wrap: nowrap;
}

.image {
  height: 352px;
  width: 250px;
}

.link {
  text-decoration: none;
}

.title {
  font-size: var(--mantine-font-size-xl);
  font-weight: 600;
  letter-spacing: 0.32px;
  color: var(--mantine-color-purple-5);
  max-width: 400px;
}

.data {
  font-size: var(--mantine-font-size-md);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.32px;
  color: var(--mantine-color-grey-6);
}

.ratingWrapper {
  position: absolute;
  right: 24px;
  top: 24px;
}

.voteAverage {
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.32px;
  color: var(--mantine-color-black);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 352px;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

@media (max-width: 980px) {
  .groupWrapper {
    flex-direction: column;
  }
}

@media (max-width: 590px) {
  .card {
    padding: var(--mantine-spacing-sm);
  }

  .image {
    padding: var(--mantine-spacing-sm);
  }
}

@media (max-width: 430px) {
  .group {
    max-width: 100px;
  }

  .body {
    min-height: 302px;
  }

  .image {
    width: 100%;
  }
}
