.wrapper {
  width: 284px;
}

.input {
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  line-height: var(--mantine-line-height-xs);
  height: 42px;
  padding-top: 0;
  padding-bottom: 0;

  &:active {
    border-color: var(--mantine-color-purple-5);
  }

  &:focus-within {
    border-color: var(--mantine-color-purple-5);
  }
}

.label {
  font-size: var(--mantine-font-size-md);
  font-weight: 700;
  line-height: var(--mantine-line-height-xs);
  margin-bottom: var(--mantine-spacing-xs);
}

.option {
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  line-height: var(--mantine-line-height-xs);
  border-radius: var(--mantine-radius-md);
  height: 36px;

  &:hover {
    background-color: var(--mantine-color-purple-5);
    color: var(--mantine-color-white);
  }
}

@media (max-width: 390px) {
  .wrapper {
    width: 100%;
  }
}
